/* Landscape tablets and medium desktops */
/* @media (min-width: 992px) and (max-width: 1199px) */

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
		font-family : Arial;
}

html {
	position: relative;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}

body {

	margin: 0 auto;
	background-color: #FAFAFA;
	margin: 0px;
	padding: 0px;


}

.header1 {
	background : #1A1A1A;
	background : rgba(26, 26, 26, 1);
	height : 100px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-align: center;
	width: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 767px;


}

.header1 h1 {
	font-size: 2em;
	
}



.header1 h2 {
	color: #4d4d4d;
	color : rgb(77, 77, 77);
	font-size: 1.5em;
	
}

.header1 img {  
	margin: 0px;
	padding: 0 .25em;
	max-width: 100%;
}

.centerParent {
	display: table;
	height: 100%; 
    margin-left: auto;
    margin-right: auto;
}
.centerChild {
	display: table-cell;
	vertical-align: middle;
	
}

.left{
	float: left;
	
}

.inline-block-center {
  text-align: center;
}
.inline-block-centerChild {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.header2 {
	background : #4D4D4D;
	background : rgba(77, 77, 77, 1);
	height : 40px;
	text-align: center;
	width: 100%;
	min-width: 767px;
}

.header2 ul {
	list-style: none;
}

.header2 li {
	display: inline;
	padding: 0 .5em;
}

.header2 a {
	font-family : Arial;
	font-size : 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}

.header2 a:hover, a.on {
	color: #009245;
	color: rgba(0, 146, 69, 1); 
	
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #fafafa;
	min-width: 767px;
	min-height: 800px;
	max-width: 1200px;

	
}

.blogPost {
	width: 100%;
	margin: 40px auto;
	margin-top: 80px;
}


.blogPost h1 {
	font-size: 225%;
	margin-bottom: 25px;

}

.centerImg {
	width: 100%;
  text-align: center;
}

.backgroundImg  {
	margin: 0 auto;
}


.blogContent {
	width: 95%;
	margin: 40px auto;
	text-align: left;
	
	
	
	
}

.blogContent p {
	font-family : Times New Roman, Georgia;
	font-size : 130%;
	line-height : 160%;
	top : 2px;
	margin-bottom: 20px;
}

.blogContent a {
	text-decoration: none;
	color : #0071BC;
	color : rgb(0, 113, 188);
	font-family : Times New Roman, Georgia;
			
}

.blogContent a:hover {
	text-decoration: none;
	color : orange;
	color : orange;

}

.blogPostH {
	font-family : Arial;
	font-size : 200%;
	line-height : 230%;
	top : 2px;
	margin-bottom: 20px;
}

.blogContentImg {
	margin-bottom: 20px;
	
}


.nextPre{
	width: 100%;
	
	
	padding-top: 20px;
	border-width: 4px;
	border-top-width: 4px;
	border-top-color: black;
	border-top-style: solid;
	margin-bottom: 100px;
	
}

.previous1, .previous2 {
	float: left;
	text-align: left;
}

.previous1 {
	padding-top: 7px;	
	
}

.previous2 {
	margin-left: 20px;
	
}
				
.next1, .next2 {
	float: right;
	text-align: right;
	
}

.next1 {
	padding-top: 7px;	
}

.next2 {
	margin-right: 20px;	
}


.nextPreLine1 {
	font-family : Arial;
	color: #4d4d4d;
	color : rgb(77, 77, 77);
	
}

.nextPreLine2 {
	font-family : Arial;
	font-size : 130%;
	line-height : 160%;
	top : 2px;
}

.nextPreLine2 a {
	text-decoration: none;
	color : #0071BC;
	color : rgb(0, 113, 188);
			
}

.nextPreLine2 a:hover {
	text-decoration: none;
	color : orange;
	color : orange;

}				
				
.arrowImg {
	float: left;
	margin: 0px;
	
}


.related {
	width: 100%;
	clear: both;
	
}


.box {
	display: inline-block;
	margin: 30px 30px;
}

.lineBox{
	text-align: left;
}
 
.floating-box {
    width: 230px;
    height: 90px;
}


.relatedBoxes {
	padding-top: 20px;
	border-width: 2px;
	border-top-width: 2px;
	border-top-color: black;
	border-top-style: solid;
	margin-bottom: 40px;
	
	
}


.related { 
	font-family : Arial;
	font-size : 200%;
	line-height : 230%;
	top : 2px;
	margin-bottom: 20px;
	
}

.related h1{
	text-align:left;	
}

.lineBox {
	width: 230px;
	font-family : Arial;
	font-size : 110%;
	line-height : 130%;
	top : 2px;
}

.lineBox a {
	text-decoration: none;
	color : #0071BC;
	color : rgb(0, 113, 188);
			
}

.lineBox a:hover {
	text-decoration: none;
	color : orange;
	color : orange;

}				

.date {
	text-align: left;	
	color: #4d4d4d;
	color : rgb(77, 77, 77);
}

/* if words are less adjust the margin for box with JS */

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;

	min-width: 767px;
}

.footer2 {
	background : #1A1A1A;
	background : rgba(26, 26, 26, 1);
	height : 250px;	
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-align: center;
	font-family : Arial;
	font-size : 100%;
	width: 100%;
	text-align: center;
	position: relative; 
}


.footer1 {
	background : #4D4D4D;
	background : rgba(77, 77, 77, 1);
	color: #000000;
	color: rgb(0,0,0);
	text-align: center;
	height : 30px;
	text-align: center;
	position: relative;

}

		
.column1 {
	width: 15%;
}
		
.column1, .column2, .column3 {
	
	width: 30%;
	display: inline-block;
	height: 90%;
	
	
}

.column1 {
	width: 21%;
}

.column2 {
	width: 35%;
	
}


.column3 {
	width: 27%;
	
	

}		

.column2 h1, p{
	font-size: .9em;
}


.column1Img {
	background : #FFFFFF;
	background : rgba(255, 255, 255, 1);
	opacity : 0.75;
	padding: 2px;
	margin: 1px;
	display: inline-block;
	filter: alpha(opacity=75) progid:DXImageTransform.Microsoft.Alpha(opacity=75) ;
	vertical-align: middle;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;  
	-khtml-border-radius: 5px;
}


.column2  p{
	text-align: left;
}

.footerImg {
	float: left;
	padding: 0;
	padding-right: .5em;
	padding-bottom: .5em;
	margin: 0;
}


.container {
	
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	
 
}

.flexBox {
  font-size: .9em;
  text-align: left;  
  width: 45%;
  padding: 3%;
  
}

.flexBox ul li {
	list-style: none;
	text-decoration: none;
	padding: .25em; 

}


.flexBox ul li a {
	list-style: none;
	text-decoration: none;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	
}

.flexBox  li:first-child {
	color: #4d4d4d;
	color : rgb(77, 77, 77);
}

.flexBox a:hover, a.on {
	color: #009245;
	color: rgba(0, 146, 69, 1);
}

.column2 h1  {
	position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
} 